 <div>
     <h1>The Dashboard</h1>
 </div>
 <div>
{{#each allPost}}
<div>
    <a href="/update-post"><p>{{title}}</p></a>
    <p> {{format_date date_created}}</p>
    <hr>
</div>
    
{{/each}}
 <a href="/new-post" >+ New Post</a>
</div>
