 <div class="bg-primary-subtle text-primary-emphasis">
    <h1> <span class="badge bg-secondary mb-3 ms-4">The Tech Blog</span></h1>
 </div>

 <div class="row justify-content-center mt-5">
    <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card card-size mb-2">
            <div class="card-header">
                <h3>Login </h3>
            </div>
            <div class="card-body">
                <form action="" id="login-form" class="comment-form">
                <input class="form-control mb-1" type="text" placeholder="username" id="login-username">
                <input class="form-control mb-1" type="password" placeholder="password" id="login-password">
                <button class="btn btn-secondary form-control mt-2 mb-1">Login</button>
            </form>
            </div>  
        </div>
            <div class="card card-size">
                <div class="card-header">
                    <h3>Sign-Up </h3>
                </div>
                <div class="card-body">
                    <form action="" id="signup-form" >
                        <input class="form-control mb-1" type="text" placeholder="username" id="signup-username">
                        <input class="form-control mb-1" type="password" placeholder="password" id="signup-password">
                        <button class="btn btn-secondary form-control mt-2 mb-1">SignUp</button>
                    </form>
                </div>
            </div>
    </div>
</div>

<script src="/js/login-singup.js"></script>

