   <div class="bg-primary-subtle text-primary-emphasis">
    <h1> <span class="badge bg-secondary mb-3 ms-4">The Dashboard</span></h1>
 </div>
   <div class="row justify-content-center mt-5">
    <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card card-size">
            <div class="card-header">
                 Create New Post
             </div>
        <div class="card-body">
            <p>Title</p>
            <textarea class="form-control" id="tittle-post"></textarea>
             <p>Content</p>
            <textarea class="form-control" id="content-post"></textarea>

             <button class="btn btn-secondary form-control mt-3" id="new-post-btn">Create</button>  
        </div>
        </div>
        </div>
    </div>

    <script src="/js/add-post.js"></script>

