 <div class="row justify-content-center mt-5">
    <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card">
            <div class="card-header">
                 Create New Post
             </div>
        <div class="card-body">
            <p>Title</p>
            <textarea id="tittle-post"></textarea>
             <p>Content</p>
            <textarea id="content-post"></textarea>
        <div class="d-grid gap-2">
            <button>Update Post</button>
            <button>Delete Post</button>
        </div>
        </div>
    </div>

