body{
  background-color:darkseagreen;
}

main{
    min-height: 85vh;
    background-color:darkseagreen;
   
  }
  
footer {
    text-align: center;
   
  }

  .card-size{
    width: 95%;
    background-color:darkseagreen
  }
  /* .txt-area-size{
    width:80%;
    height: 100px;
    
  } */